---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Experience from "../contents/Experience.astro";
import Education from "../contents/Education.astro";
import Licences from "../contents/Licences.astro";
import Languages from "../contents/Languages.astro";
import Skills from "../contents/Skills.astro";
import Interests from "../contents/Interests.astro";
import Photo from "../components/Photo.astro";
import Socials from "../components/Socials.astro";
---

<Layout title="Hakan Tugrul Otal">
	<Photo/>
	<Socials/>
	<main>
		<h1>Hi I'm <span class="text-gradient">Hakan</span> 👋🏻</h1>
		<p class="instructions">
			<span>&rarr;</span> I'm currently studying Computer Engineering at Istanbul Technical University. I try to expand my knowledge on different technologies and subjects. My life goal is try to learn everything about something and something about everything.
		</p>
		<ul role="list" class="link-card-grid">
			<Card title="Experience">
				<Experience />
			</Card>
			<Card title="Education">
				<Education />
			</Card>
			<Card title="Licences & Certificates">
				<Licences />
			</Card>
			<Card title="Languages">
				<Languages />
			</Card>
			<Card title="Skills">
				<Skills />
			</Card>
			<Card title="Interests">
				<Interests />
			</Card>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #1ecbf7, #eb3bca);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #56a9f7;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.link-card-grid {
		display: grid;

		gap: 1rem;
		padding: 0;
	}
</style>
