---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Experience from "../contents/Experience.astro";
import Education from "../contents/Education.astro";
import Licences from "../contents/Licences.astro";
import Languages from "../contents/Languages.astro";
import Skills from "../contents/Skills.astro";
import Interests from "../contents/Interests.astro";
---

<Layout title="Hakan Tugrul Otal">
	<main>
		<h1>Hi I'm <span class="text-gradient">Hakan</span> 👋🏻</h1>
		<p class="instructions">
			Check out the my soical accounts to contact me.
		</p>
		<div>
			<ul>
				<li><a class="text-gradient">Github</a></li>
				<li><a class="text-gradient">LinkedIn</a></li>
				<li><a class="text-gradient">hakan.otal@outlook.com</a></li>
				<li><a class="text-gradient">+905379476757</a></li>
			</ul>
		</div>
		<ul role="list" class="link-card-grid">
			<Card title="Experience">
				<Experience />
			</Card>
			<Card title="Education">
				<Education />
			</Card>
			<Card title="Licences & Certificates">
				<Licences />
			</Card>
			<Card title="Languages">
				<Languages />
			</Card>
			<Card title="Skills">
				<Skills />
			</Card>
			<Card title="Interests">
				<Interests />
			</Card>
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.link-card-grid {
		display: grid;

		gap: 1rem;
		padding: 0;
	}
</style>
