---

---

<div class="wrapper">
    <img class="photo" src="/photo.png" width={200}/>
</div>


<style>
    :root {
		--link-gradient: linear-gradient(45deg, #4f39fa, #da62c4 30%, var(--color-border) 60%);
	}

    .wrapper {
        position: fixed;
        display: flex;
        left: 0;
        margin: 2em;
        padding: 0.3em;

		background-image: var(--link-gradient);
		background-size: 400%;
		border-radius: 50%;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }

    .wrapper:is(:hover, :focus-within) {
		background-position: 0;
	}

    .photo {
        border-radius: 50%;
    }

</style>