---
---

<ul>
    <li>
        <strong> Istanbul Technical University</strong>
        <small>
            <ul>
                <li>Computer Engineering</li>
                <li>2018 - 2023</li>
                <li>3.41 / 4.0</li>
            </ul>
        </small>
    </li>
    <li>
        <strong> Pema Private High School</strong>
        <small>
            <ul>
                <li>2018</li>
                <li>97 / 100</li>
            </ul>
        </small>
    </li>
</ul>

<style>
    ul {
        list-style: square;
        list-style-position: inside;
    }
    small > ul {
        list-style: circle;
    }
</style>
