---
---

<ul>
    <li>
        <strong>Deka Technology</strong>
        <small>
            <ul>
                <li>Backend Developer</li>
                <li>Aug 2022 - Present</li>
                <li>Java, Spring, Camel, Quarkus</li>
            </ul>
        </small>
    </li>
    <li>
        <strong>Deka Technology</strong>
        <small>
            <ul>
                <li>Backend Developer Intern</li>
                <li>Jul 2022 - Aug 2022 ∙ 2 Months</li>
                <li>Java, Spring, Camel, Quarkus</li>
            </ul>
        </small>
    </li>
    <li>
        <strong>PoiLabs</strong>
        <small>
            <ul>
                <li>Backend Developer Intern</li>
                <li>Sep 2021 - Oct 2021 ∙ 2 Months</li>
                <li>Javascript, Node.js, Express.js</li>
            </ul>
        </small>
    </li>
</ul>

<style>
    ul {
        list-style: square;
        list-style-position: inside;
    }
    small > ul {
        list-style: circle;
    }
</style>
