---
---
<ul>
    <li>Deep Learning Applications for Computer Vision</li>
    <li>Deep Learning with PyTorch</li>
    <li>Javascript (Intermediate)</li>
    <li>Node.js (Intermediate)</li>
    <li>C (Intermediate)</li>
</ul>