---
---

<ul>
    <li>
        <strong>Deep Learning Applications for Computer Vision</strong>
        <small>
            <ul>
                <li>University of Colorado Boulder</li>
                <li>Feb 2022</li>
            </ul>
        </small>
    </li>
    <li>
        <strong>Deep Learning with PyTorch</strong>
        <small>
            <ul>
                <li>Coursera</li>
                <li>Jul 2021</li>
            </ul>
        </small>
    </li>
    <li>
        <strong>Javascript (Intermediate)</strong>
        <small>
            <ul>
                <li>HackerRank</li>
                <li>Sep 2021</li>
            </ul>
        </small>
    </li>
    <li>
        <strong>Node.js (Intermediate)</strong>
        <small>
            <ul>
                <li>HackerRank</li>
                <li>Sep 2021</li>
            </ul>
        </small>
    </li>
    <li>
        <strong>C (Intermediate)</strong>
        <small>
            <ul>
                <li>HackerRank</li>
                <li>Sep 2020</li>
            </ul>
        </small>
    </li>
</ul>

<style>
    ul {
        list-style: square;
    }
    small > ul {
        list-style: circle;
    }
</style>
