---
---
<ul>
    <li>Java</li>
    <li>SpringBoot</li>
    <li>Apache Camel</li>
    <li>Quarkus</li>
    <li>Javascript</li>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>Python</li>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>OpenCV</li>
    <li>C/C++</li>
</ul>