---
---

<ul>
    <li>
        <strong>Java</strong>
        <ul>
            <li>SpringBoot</li>
            <li>Apache Camel</li>
            <li>Apache Maven</li>
            <li>Apache Kafka</li>
            <li>Quarkus</li>
        </ul>
    </li>
    <li>
        <strong>Javascript</strong>
        <ul>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>React.js</li>
            <li>Next.js</li>
            <li>Astro.js</li>
        </ul>
    </li>
    <li>
        <strong>Python</strong>
        <ul>
            <li>Numpy</li>
            <li>Pandas</li>
            <li>OpenCV</li>
        </ul>
    </li>
    <li>
        <strong>C / C++</strong>
    </li>
</ul>

<style>
    ul {
        list-style: square;
    }
    li > ul {
        list-style: circle;
    }
</style>