---
import { Icon } from "astro-icon";


const response = await fetch('https://api.github.com/graphql', {
    method: 'post',
    headers: {
        Authorization: 'Bearer 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',
        'Content-Type': 'application/json',
    },
    body: JSON.stringify({
        query: `{  user(login: \"ituitis-otal18\") { pinnedItems(first: 6, types: REPOSITORY) { nodes { ... on RepositoryInfo {name, url, description}}}}}`,
    }),
});
const data = await response.json();
const repos = data.data.user.pinnedItems.nodes;
---

<div class="slider">
    <div class="slides">
        {
            repos && repos.map((r) => (
                <div class="repo" id={"repo-"+repos.indexOf(r)}>
                    <h3 class="text-gradient">{r.name}</h3>
                    <hr>
                    <p>{r.description}</p>
                    <a href={r.url} target="_blank">
                        <Icon class="icon" name="github" />
                        Github Repository
                    </a>
                </div>
            ))
        }
    </div>
    {
        repos && repos.map((r) => (
            <a href={"#repo-"+repos.indexOf(r)}>&bull;</a>
        ))
    }

</div>

<style>
    * {
        box-sizing: border-box;
    }

    .slider {
        margin: auto;
        width: 500px;
        text-align: center;
        overflow: hidden;
    }

    .slides {
        display: flex;

        overflow-x: auto;
        scroll-snap-type: x mandatory;

        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }
    .slides::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    .slides::-webkit-scrollbar-thumb {
        background: #56a9f7;
        border-radius: 10px;
    }
    .slides::-webkit-scrollbar-track {
        background: transparent;
    }
    .slides > div {
        scroll-snap-align: start;
        flex-shrink: 0;
        width: 500px;
        height: 300px;
        margin-right: 50px;
        border-radius: 10px;
        background: #eee;
        transform-origin: center center;
        transform: scale(1);
        transition: transform 0.5s;
        position: relative;

        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .slider > a {
        display: inline-flex;
        width: 1.5rem;
        height: 1.5rem;
        background: white;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: 0 0 0.5rem 0;
        position: relative;
    }
    .slider > a:active {
        top: 1px;
        color: #56a9f7;
    }
    .slider > a:focus {
        background: #666;
    }

    /* Don't need button navigation */
    @supports (scroll-snap-type) {
        .slider > a {
            display: none;
        }
    }

    .repo {
        display: inline;
        font-size: large;
    }

    .repo > a {
        text-decoration: none;
        color: #56a9f7;
    }

    .icon {
        height: 16px;
        color: #444;
    }

    .text-gradient {
        font-weight: 900;
        background-image: var(--astro-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100% 200%;
        background-position-y: 100%;
        border-radius: 0.4rem;
        animation: pulse 4s ease-in-out infinite;
    }

    @keyframes pulse {
        0%,
        100% {
            background-position-y: 0%;
        }
        50% {
            background-position-y: 80%;
        }
    }
</style>
